body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	color: white;
}
section.sec1{
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	background: url(Bird.jpg);
	background-size: cover;
}
section.sec2{
	padding: 100px;
	color: black;
}

nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px; 
	background: rgba(0,0,0,0.6);
	padding: 0 100px;
	box-sizing: border-box;
}
nav .brand{
	float: left;
	height: 100%;
	line-height: 70px;
}
nav .brand h2{
	margin: 0;
	padding: 0;
	color: #fff;
}
nav ul {
	float: right;
	display: flex;
	margin: 0;
	padding: 0;
}
nav ul li {
	list-style: none;
}
nav ul li a {
	position: relative;
	display: block;
	height: 50px;
	line-height: 100px;
	padding: 0 10px;
	box-sizing: border-box;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	transition: .5s;
}
nav ul li a:hover{
	color: #262626;
}
nav ul li a: before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%
	height: 100%;
	background: #fff;
	transform-origin: right;
	z-index: -1;
	transform: scaleX(1);
	transition: transform .5s;
}
nav ul li a:hover:before {
	transform-origin: left;
	transform: scaleX(1);
}
div.sec3 h1{
	color: black;
	font-family: cursive;
}
div.sec3 ul{
			display: inline-flex;
			text-align: center;
			position: center;
			top: 50%;
			left: 50%;
			transform: translate(100%, 0%);
			}
div.sec3  ul li{
				background: #000;
				margin:10px;
				list-style: none;
				font-size: 24px;
				transition: .5;
			}
div.sec3  ul li a{
				width: 60px;
				padding: 16px 0;
				margin: 10px;
				display: block;
				color: #fff;
			}
div.sec3 ul li:nth-child(1){
background: #3b5998;
			}
			div.sec3 ul li:nth-child(2){
background: #1DA1F2;
			}
			div.sec3 ul li:nth-child(3){
background: #DB4437;
			}
			div.sec3 ul li:nth-child(4){
background: #C32AA3;
			}
div.sec3 ul li:hover{
	transform: translateY(-8px);
	box-shadow: 0 10px 10px rgba(0,0,0,.6);
	transition: .5;
}
img{
	max-height: 100%;
	max-width: 100%;
}


